{% extends 'base.html' %}

{% block content %}


<div class="author" style="margin-bottom: 0cm; margin-top: 2cm; margin-left: 9px; margin-right: 9px; line-height: 100%; text-decoration: none">

	<p text-align:center>
		<font face="Arial, serif">
			<font size="2" style="font-size: 20pt" >Francesco Campanini</font>
		</font>
    </p>

	<p style="margin-bottom: 0cm; margin-top: 20px; line-height: 100%; text-decoration: none">
		<font face="Arial, serif">
			<font size="2" style="font-size: 10pt">LinkedIn:
				<a class="western" href="https://www.linkedin.com/in/francesco-c-b6142314">
				<u>https://www.linkedin.com/in/francesco-c-b6142314</u></a>
				<p>London - UK</p>
			</font>
		</font>
	</p>

	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<br/>
	</p>

	<p style="margin-bottom: 0cm; line-height: 100%; background: #aeaaaa; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Education</b></font></font></p>
	<p style="margin-top: 0.35cm; margin-bottom: 0cm; line-height: 115%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>The
	Open University</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">										UK</font></font></p>
	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt">MSc
	in Space Science and Technology								Expected: 2024</font></font></p>
	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<br/>

	</p>
	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Università
	degli Studi di Pavia	</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">								Pavia
	- Italy</font></font></p>
	<p style="margin-right: 0.2cm; margin-bottom: 0.35cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt">BSc
	of Physics – Astrophysics (99/110)								Completed 2002</font></font></p>
	<p style="margin-bottom: 0cm; line-height: 100%; background: #aeaaaa; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Experience</b></font></font></p>
	<p style="margin-top: 0.35cm; margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>EclecticIQ	</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">										London
	- UK</font></font></p>
	<p style="margin-bottom: 0.35cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt">Solutions
	&amp; Support Engineer Manager								Sep 2017-Present</font></font></p>
	<ul>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Development
		of Python code and integrations between EclecticIQ platform and 3rd
		party platforms (JIRA, Confluence, ServiceNow)</font></font></p>
	</ul>
	<ul>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Resolve
		technical issues on Linux systems, scripting in Python and Bash to
		enhance efficiency levels</font></font></p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Oversee
		complex system architecture design (on AWS, VMware, and bare-metal)</font></font></p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Provide
		product demonstrations, customer advice sessions (on use-cases and
		data modelling)</font></font></p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Player
		Manager in the Solutions Engineering &amp; Technical Support Teams,
		providing onboarding and mentoring</font></font></p>
	</ul>

	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<br/>
	</p>

	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>CITRIX	</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">								</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">	</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">		</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">Slough
	- UK </font></font>
	</p>
	<p style="margin-bottom: 0.35cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt">Escalation
	Engineer in O2-Telefonica</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">								Aug
	2016-Sep 2017</font></font></p>
	<ul>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Supported
		~500 Linux-based IBM blade servers in a cluster (RHEL), working as
		an integral team player, delivering technical support, following
		ITIL standard procedures</font></font></p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Facilitated
		daily checks, utilising custom BASH scripts, evaluating system
		performance levels</font></font></p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Managed
		data transfer, identifying backlogs </font></font>
		</p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Designed
		Disaster Recovery Procedure for different services</font></font></p>
	</ul>

	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<br/>
	</p>

	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>TYCO</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">
	(now Johnson Control)									</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">Heathrow
	- UK</font></font></p>
	<p style="margin-bottom: 0.35cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt">Senior
	</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">Technical
	Support Engineer								</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">Nov
	2013-Aug 2016</font></font></p>
	<ul>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Delivered
		focused training to the team, covering product updates, Linux
		fundamental, and networking</font></font></p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Provided
		consistent mentoring, including individual sessions with colleagues,
		delivering training, and recommending reading </font></font>
		</p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Created
		internal documents and updated TYCO EMEA &amp; APAC engineers</font></font></p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Resolved
		issues on Linux systems/applications, within SUSE and Ubuntu
		distribution, escalating complex cases, liaising with tier 3
		technical support, undertaking on-site visits as necessary</font></font></p>
	</ul>

	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<br/>
	</p>

	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Telematic
	Solutions SpA</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">
	(part of OHB System AG)						</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">Milan</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">
	-</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">
	Italy</font></font></p>
	<p style="margin-bottom: 0.35cm; line-height: 100%; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt">System
	engineer and Software developer							</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">Sep
	2002-Sep 2011</font></font></p>
	<ul>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">System
		engineer for ground systems communication for the European Space
		Station in Kourou (French </font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">Guiana</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">).</font></font></p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Software
		development activities for a video surveillance platform.
		Development in Visual C++ 6.0.</font></font></p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Software
		development for a serial communication interface for low orbit
		</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">satellites</font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">.
		Development in C.</font></font></p>
		<li><p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt">Software
		development of a serial communication device for a security system.
		Development in C++.</font></font></p>
	</ul>

	<p style="margin-bottom: 0cm; line-height: 100%; text-decoration: none">
	<br/>
	</p>
	
	<p style="margin-bottom: 0cm; line-height: 100%; background: #aeaaaa; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Skills</b></font></font></p>
	<ul>
		<li><p align="left" style="margin-top: 0.35cm; margin-bottom: 0cm; line-height: 100%; page-break-inside: auto; orphans: 2; widows: 2; background: transparent; text-decoration: none; page-break-after: auto">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Languages</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">:
		python3 (fluent), C++ (prior experience)</font></font></p>
		<li><p align="left" style="margin-bottom: 0cm; line-height: 100%; page-break-inside: auto; orphans: 2; widows: 2; background: transparent; text-decoration: none; page-break-after: auto">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Technologies</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">:
		Linux, Bash, AWS, Django, Celery, RabbitMQ, Elasticsearch,
		PostgreSQL, github/gitlab, networking (</font></font><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span style="font-style: normal"><span style="background: transparent">Cisco
		CCNA expired</span></span></font></font></span></font></span><font face="Arial, serif"><font size="2" style="font-size: 10pt">,
		Citrix NetScaler Professional  CCP-N), cyber security (threat
		intelligence, </font></font><span style="font-variant: normal"><font color="#000000"><span style="text-decoration: none"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><span style="font-style: normal"><span style="background: transparent">CompTIA
		Security+ expired)</span></span></font></font></span></font></span></p>
		<li><p align="left" style="margin-bottom: 0.35cm; line-height: 100%; page-break-inside: auto; orphans: 2; widows: 2; background: transparent; text-decoration: none; page-break-after: auto">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Other</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">:
		analytical skills, problem solving, leadership, mentoring</font></font></p>
	</ul>
	<p style="margin-bottom: 0cm; line-height: 100%; background: #aeaaaa; text-decoration: none">
	<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>Projects</b></font></font></p>
	<ul>
		<li><p style="margin-top: 0.35cm; margin-bottom: 0cm; line-height: 100%; text-decoration: none">
		<font face="Arial, serif"><font size="2" style="font-size: 10pt"><b>spaceindustry.org.uk</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 10pt">
		: it is a personal project/website with open-source code (</font></font><a class="western" href="https://github.com/f-campanini/space-industry/blob/main/README.md"><font color="#1155cc"><font face="Arial, serif"><font size="2" style="font-size: 10pt"><u>github</u></font></font></font></a><font face="Arial, serif"><font size="2" style="font-size: 10pt">).
		Developed in Python with framework Django and bootstrap, using
		gunicorn, RabbitMQ, celery-workers. The backend parses different
		sources and publishes the data in an organised and clear style.
		Basic data analytics methods are applied to build a word-cloud and
		analyse scraped sources.</font></font></p>
	</ul>

</div>

{% endblock content %}